<div class="modal-backdrop" id="modalBackdrop"></div>
<div class="popup" id="modal">
    <h2>Login To Vapr</h2>
    <p>This app uses Steam's Web API to display current steam data for logged in
        user and active friends.
    </p>
    <a href="/auth/steam" class="login-btn">Demo Account</a>
    <a href="/privacy" class="login-privacy-link">Privacy Policy</a>
</div>
<script src="/js/modal.js"></script>