<header class="header">

    {{! Profile Section }}
    <div class="profile-section">
        <div class="profile-container">
            <div class="profile-info">
                <img
                    src="https://placehold.co/600x400/png"
                    alt="Profile Picture"
                    class="profile-image"
                />
                <span class="profile-name">tg.timmy</span>
            </div>
        </div>
    </div>

    <div class="nav-background">
        {{! Logo Section }}
        <div class="logo-section">
            <div class="logo">
                <img
                    class="logo"
                    src="/images/transparentvapr.png"
                    alt="Vapr Logo"
                />
                <span class="logo-text">Vapr</span>
            </div>
        </div>

        {{! Nav Section  }}
        <nav class="nav-menu">
            <a href="#" class="nav-item active">{{! Icon Here }}
                <span>Home</span></a>
            <a href="#" class="nav-item">{{! Icon Here }}
                <span>Friends</span></a>
            <a href="#" class="nav-item">{{! Icon Here }}
                <span>Stats</span></a>
            <a href="#" class="nav-item">{{! Icon Here }}
                <span>Community</span></a>
        </nav>
    </div>
</header>