<header>
    <div class="logo"><img src="/images/vapr-logo.jpg" alt="Vapr Logo"></div>
    <nav>
        <ul class="flex-container">
            <li><a href="" class="">Home</a></li>
            <li><a href="" class="">Friends</a></li>
            <li><a href="" class="">Stats</a></li>
            <li><a href="" class="">Community</a></li>
        </ul>
    </nav>
</header>