<header class="header">
    <div class="logo"><img src="/images/vapr-logo.jpg" alt="Vapr Logo" /></div>
    <div class="nav-wrapper">
        <div class="flex-container">
            <nav class="nav">
                <ul>
                    <li><a href="" class="">Home</a></li>
                    <li><a href="" class="">Friends</a></li>
                    <li><a href="" class="">Stats</a></li>
                    <li><a href="" class="">Community</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>