<nav>
    <div class="container">
        <div class="flex-container">
            <ul>
                <li><a href="" class="">Home</a></li>
                <li><a href="" class="">Friends</a></li>
                <li><a href="" class="">Stats</a></li>
                <li><a href="" class="">Community</a></li>
            </ul>
        </div>
    </div>
</nav>