@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@200..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mona Sans", "Helvetica", sans-serif;
  background-color: #0c0f16;
  color: #fff;
  line-height: 1.5;
}
body a {
  text-decoration: none;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  height: 100vh;
  padding: 14px 34px 14px 22px;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 374px;
  background-color: #181b22;
  border-radius: 12px;
}

.profile-section {
  display: flex;
  align-items: center;
  margin: 0 0 36px 0;
  padding: 0 0 0 10px;
}
.profile-section .profile-container {
  width: 100%;
}
.profile-section .profile-container .profile-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.profile-section .profile-container .profile-info .profile-image {
  width: 70px;
  height: 55px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-section .profile-container .profile-info .profile-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.logo-section {
  display: flex;
  justify-content: center;
  margin: 32px 0 0 0;
}
.logo-section .logo {
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  gap: 10px;
}
.logo-section .logo .logo-text {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  background: linear-gradient(180deg, #fff 35%, #5187cf 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  position: relative;
}
.nav .nav-item {
  display: flex;
  align-items: center;
  align-self: center;
  width: 342px;
  height: 64px;
  gap: 14px;
  padding: 0 0 0 30px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #7a7a7c;
}
.nav .nav-item:first-child {
  margin: 86px 0 0 0;
}
.nav .nav-item:last-child {
  margin: auto 0 28px 0;
}
.nav .nav-item:hover {
  color: #fff;
  background-color: #313237;
  transform: scale(1.05);
  border-radius: 25px;
}
.nav .nav-item:hover svg {
  fill: #fff;
}
.nav .nav-item svg {
  width: 35px;
  height: 35px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.privacy-link {
  color: #fff;
  text-decoration: underline;
  font-size: 1.4rem;
}

.privacy-wrapper {
  padding: 20px;
}
.privacy-wrapper h1 {
  font-size: 4rem;
}
.privacy-wrapper h2 {
  font-size: 3.4rem;
}
.privacy-wrapper h3 {
  font-size: 2.4rem;
}
.privacy-wrapper h4 {
  font-size: 2rem;
}
.privacy-wrapper h5 {
  font-size: 1.8rem;
}
.privacy-wrapper p {
  font-size: 1.6rem;
}
.privacy-wrapper span {
  font-size: 1.4rem;
}
.privacy-wrapper ul {
  list-style: disc;
}
.privacy-wrapper ul li {
  font-size: 1.4rem;
  margin: 0 0 0 30px;
}
.privacy-wrapper a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

.popup {
  background-color: #fff;
  width: 450px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: none;
}
.popup button {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup h2 {
  color: #333;
  font-size: 2rem;
  font-weight: 500;
}
.popup p {
  font-size: 1.4rem;
  text-align: justify;
  color: #333;
  margin: 20px 0;
}

.login-btn {
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 5px 0;
}

.privacy-login {
  font-size: 1.4rem;
  color: #333;
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */