.header {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 900px;
    margin: 0 32px 0 0;

    .logo-section {
        .logo {
            width: 60px;
            margin: 0 0 32px 0;
        }
    }

    .nav-wrapper {
        max-width: 1200px;
    }

    .nav {
    }
}
