.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
    z-index: 1000;
    backdrop-filter: blur(0px);
}

.modal-backdrop.show {
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}
.popup {
    background-color: #fff;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    z-index: 1001;

    button {
        display: block;
        margin: 0 0 20px auto;
        background-color: transparent;
        font-size: 30px;
        color: #c5c5c5;
        border: none;
        outline: none;
        cursor: pointer;
    }

    h2 {
        color: #333;
        font-size: 2rem;
        font-weight: $font-weight-md;
    }

    p {
        font-size: 1.4rem;
        text-align: justify;
        color: #333;
        margin: 20px 0;
    }
}

.login-btn {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 5px 0;
}

.login-privacy-link {
    font-size: 1.4rem;
    color: #333;
    text-decoration: underline;
}
