*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-family-base;
    background-color: $primary-color;
    color: $primary-font-color;
    line-height: $line-height-base;
}
