*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @media (max-width: 768px) {
        font-size: 58%;
    }

    @media (min-width: 1800px) {
        font-size: 70%;
    }
}

body {
    font-family: $font-family-base;
    background-color: $primary-color;
    color: $primary-font-color;
    line-height: $line-height-base;
    min-height: 100vh;

    a {
        text-decoration: none;
    }
}

main {
    height: 100vh;
    overflow: hidden;

    @media (max-width: 768px) {
        height: calc(100vh - 60px);
    }
}

img {
    max-width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
}

.wrapper {
    height: 100%;
    padding: 24px;
    overflow-y: auto;

    @media (max-width: 768px) {
        padding: 16px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.no-games-message {
    font-size: 30px;

    a {
        text-decoration: underline;
    }
}

.privacy-disclaimer {
    font-weight: bold;
}
