// Font import
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@200..900&display=swap");

// Colors
$primary-color: #0c0f16;
$secondary-color: #181b22;
$hover-color: #313237;
$status-colors: (
    "Online": #4caf50,
    "Offline": #f44336,
    "Away": #ec8c1d,
);

// Typography
$primary-font-color: #fff;
$secondary-font-color: #7a7a7c;
$font-family-base: "Mona Sans", "Helvetica", sans-serif;
$font-weight-lg: 600;
$font-weight-md: 500;
$line-height-base: 1.5;
