// Font import
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@200..900&display=swap");

// Colors
$primary-color: #0c0f16;
$secondary-color: #181b22;

// Typography
$primary-font-color: #515155;
$font-family-base: "Mona Sans", "Helvetica", sans-serif;
$line-height-base: 1.5;

